 html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(236, 181, 62, 0.95);
      }
#nav {
    background-color: darkgreen;
    height: 25px;
    border-radius: 7px;
}
#header {
    background-color: darkcyan;
    height: 60px;
    border-radius: 7px;
}
#nav ul.left {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: left;
}
#nav ul.right {
    float: right;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: right;
}
#nav li {
    display: inline;
    padding: 5px;
    vertical-align: middle;
    margin-left: 0px;
}
#nav li a {
    text-decoration: none;
    color: white;
}
#logo {
    float: left;
    max-height: 100%;
    max-width: 150%;
}
#nav ul li a:hover {
    background-color: cornsilk;
    color: black;
}
#heading1 {
    position: absolute;
    margin-left: 20%;
    font-family: 'Century Gothic', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: deeppink;
    padding: 20px;
}
#heading2 {
    position: absolute;
    margin-left: 60%;
    font-family: tahoma;
    font-style: italic;
    font-size: 10px;
    padding-top: 40px;
    color: chartreuse;
}
div.result_train{
    text-align: center;
    max-width: 90%;
    background-color: background;
    margin-top: 5px;
    margin-left: 5%;
    padding: 10px;
    font-size: 30px;
    font-weight: bolder;
}
div.result_train #table_train{
    text-align: center;
    color: black;
    width: 90%;
    margin-bottom: 5px;
    margin-left: 3.5%;
    padding: 5px;
    background-color: red;
}
div.result_driving{
    text-align: center;
    max-width: 90%;
    background-color: background;
    margin-top: 5px;
    margin-left: 5%;
    padding: 10px;
    font-size: 30px;
    font-weight: bolder;
}
div.result_driving #table_driving{
    text-align: center;
    color: black;
    width: 90%;
    margin-bottom: 5px;
    margin-left: 3.5%;
    padding: 5px;
    background-color: red;
}